body {
  background-color: #1a466e;
}

#alphabet {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#alphabet button {
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 0 10px 10px 0;
  list-style: none;
  width: 50px;
  height: 50px;
  padding: 5px;
  background: rgb(255, 254, 254);
  color: base-color;
  cursor: pointer;
  border: solid 3px rgb(5, 5, 5);
  transition: transform 800ms ease-in-out 55ms;
  border-radius: 20%;
  box-shadow: 2px 3px rgb(56, 55, 55);
}
#alphabet button:hover {
  background-color: black;
  border: solid 1px white;
  color: rgb(255, 255, 255);
  transform: translatex(0px) translatey(0px);
  filter: none;
  transition: 0.3s ease;
  box-shadow: 0 3px #ffffff;
}

#myCanvas {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

.play-area {
  display: flex;
}

.category {
  flex-direction: column;
  color: rgb(216, 211, 211);
}

.hint {
  flex-direction: column;
  color: rgb(223, 219, 219);
}

.title {
  font-family: sans-serif;
  text-align: center;
  text-decoration: dashed;
}
