.word-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  margin-top: 20%;
}

.word-area .word-letter {
  background-color: #1b1f25bd;
  border: 1px solid #00000058;
  border-radius: 5px;
  box-shadow: 0 0 5px #000;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  margin: 0.3rem;
  text-align: center;
  width: 50px;
}

@media only screen and (max-width: 768px) {
  .word-area {
    width: 75%;
  }
  .word-area .word-letter {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 600px) {
  .word-area {
    width: 75%;
  }
  .word-area .word-letter {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}
