/* Default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  text-align: center;
  height: 100vh;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

form {
  margin-top: 2rem;
}

label {
  margin-bottom: 1rem;
  display: block;
  color: #61dafb;
  font-size: 2rem;
}

select {
  margin-bottom: 2rem;
  border: 4px solid #61dafb;
  border-radius: 10px;
  background-color: #282c34;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.start-btn {
  margin-top: 2rem;
  background-color: #282c34;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
}

.start-btn:hover {
  background-color: #61dafb;
  color: #282c34;
  transition: all 0.2s ease-in-out;
  border: 2px solid #282c28;
  border-radius: 3px;
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.header .heading {
  color: #61dafb;
  align-self: center;
}

.header button {
  background-color: #282c34;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 4px solid #61dafb;
  position: absolute;
  right: 1rem;
}

/* Media query for screens with a maximum width of 600px */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  label {
    font-size: 1.5rem;
  }

  select {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .start-btn {
    margin-top: 1rem;
    font-size: 1.25rem;
  }

  .header button {
    right: 0.5rem;
    height: 40px;
    width: fit-content;
    font-size: 1rem;
  }
}

/* Media query for screens with a maximum width of 1200px */
@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }
}
